.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("./white-seamless-set.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .card {
  background-color: lightgrey;
} */

/* #stickynav {
  padding-top: 60px;
} */
.btn {
  background-color: black;
}
.fa {
  color: black;
  font-size: 30px;
}

.fa:hover {
  opacity: 0.7;
}

#footer {
  font-size: 12px;
}
a,
a:visited {
  color: black;
}

/* #aboutMeBody {
  background-color: black;
}
.aboutMe{
  background-color: black;
  color: white;
} */

/* .mePic{
box-shadow: 1 0 15px 15px black inset;
 margin: 0px;
 opacity: 50%;
} */