.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("./white-seamless-set.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .card {
  background-color: lightgrey;
} */

/* #stickynav {
  padding-top: 60px;
} */
.btn {
  background-color: tomato;
}
.fa {
  color: black;
  font-size: 30px;
}

.fa:hover {
  opacity: 0.7;
}

#footer {
  font-size: 12px;
}
a,
a:visited {
  color: black;
}

#me {
  background-color: tomato;
  max-height: 50%;
  box-shadow: 0 0 8px 8px white inset;
}
#mepic {
  margin: unset;
}
